@using System.Web.Script.Serialization;
<script type="text/x-kendo-template" id="AcPwtbarTemplate">
    <!--<div class="toolbar">-->
    <div >
       
        <div style="float:right;">
            <input type="button" class="btn btn-info" onclick="acjobbtnSave()" value="儲存" />
        </div>
    </div>    
</script>
<script>
    var JobName = [];
    $(document).ready(function () {
        var data = [
                        { Name: "請選擇", ID: "0" },
                        { Name: "帳號", ID: "2" },
                        { Name: "姓名", ID: "1" },
                        
        ];
        $("#SearchACPowerType").kendoDropDownList({
                
                dataTextField: "Name",
                dataValueField: "ID",
                dataSource:data,
            });
        JobName = JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(ViewBag.JobName))');
        ACPowerSearch();
        
      
    });
    function AcPowerisEditable(model) {
        if (model.ID == 1)
            return false;
        else
            return true;
    }
    function GetCookie(name) {
        var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
        if(arr != null) return unescape(arr[2]); return null;
    }
    function acjobbtnSave() {
        
        var formData = new FormData();
        var list = $('#actpowergrid').data("kendoGrid").dataSource.data();
        var grid = $('#actpowergrid').data("kendoGrid").dataSource;
        formData.append("AccountPowerList", JSON.stringify(list));
        $.ajax({
            url: '@Url.Content("~/Job/AccountPowerSave")',
            contentType: false,
            data: formData,
            processData: false,
            type: 'Post',
            dataType: "Json",
            success: function (res) {
                if (res.isSuccess) {
                    alert("儲存成功!!");
                    grid.read();
                } else {
                    alert("儲存失敗!!\n錯誤訊息 : \n" + res.Msg);
                }
            },
            complete: function () {

            }
        });
    }
    
    function JobnameTypeDropDownEditor(container, options) {
        var data = JSON.parse('@Html.Raw(new JavaScriptSerializer().Serialize(ViewBag.JobName))');
        $('<input required data-bind="value: ' + options.field + '" />')
        .appendTo(container)
        .kendoDropDownList({
            dataTextField: "Name",
            dataValueField: "ID",
            dataSource: data,
            index: 0,

        });
    }
    function ACPowerSearch() {
        var dataSource = new kendo.data.DataSource({
            //data: list,
            transport: {
                read: {
                    url: "/Job/AccountPowerRead",
                    dataType: "json", // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                    data: { Keyword: $("#SearchACPowerKeyword").val(), Type: $("#SearchACPowerType").val() }
                }
            },
            batch: true,
            editable: "incell",

            schema: {
                model: {
                    id: "ID",
                    fields: {
                        ID: {
                            type: 'number', editable: false, defaultValue: function () {
                                return 0;
                            }
                        },
                        Jobname: {
                            defaultValue: JobName[0]
                        },
                        AccountNum: {
                            type: 'string',
                            editable: false,
                        },

                        Name: {
                            type: 'string',
                            editable: false,
                        },
                    }
                }
            }
        });
        $("#actpowergrid").kendoGrid({
            dataSource: dataSource,
            editable: "incell",
            pageable: {
                refresh: true,
                pageSizes: true
            },
            height: "600px",
            pageSize: "10",
            toolbar:
             kendo.template($("#AcPwtbarTemplate").html()),
            columns: [
           //     { field: "ID", width: 70, title: "ID" },
                { width: 100, title: "帳號", field: "AccountNum" },
                { width: 100, title: "姓名", field: "Name" },

                { width: 100, title: "帳號職位", editor: JobnameTypeDropDownEditor, template: "#=Jobname.Name#", field: "Jobname" },

            ],
            edit: function (e) {
                if (!AcPowerisEditable(e.model)) {
                    this.closeCell(); // prevent editing
                }
            }

        }).data("kendoGrid");

    }
</script>
<table>
    <tr>
        <th>關鍵字:</th>
        <td><input id="SearchACPowerKeyword" type="text" /></td>
        <td>
        <input id="SearchACPowerType" />
        </td>
       
        <td>
            <input type="button" value="查詢" class="btn btn-default" onclick="ACPowerSearch()" />
        </td>
    </tr>
</table>
<div id="actpowergrid"></div>