
@{
    ViewBag.Title = "ForgetPassWord";

}

<style type="text/css">
    .bodybackground {
        background-image: url(../Content/forget2.jpg);
        background-repeat: no-repeat;
        background-size: 100% 650px;
    }
    .Table_Background {
        background-color: #FFF;
        height: 16px;
    }
    .divposition {
        position: absolute;
        top: 50%;
        left: 30px;
        top: 330px;
    }
</style>

    <script>
    function Forget()
    {
        var frtAccount = $("#ForgetAccountNum").val();
        var frtemail = $("#ForgetEmail").val();
        var frtkeyforgettext = $("#keyforgettext").val();
        if (frtAccount == '' || frtemail == '')
        {
            alert("帳號和Email皆為必填");
            return false;
        }
        if (frtkeyforgettext == '' || frtkeyforgettext != '我是拉G') {
            alert("驗證碼錯誤!");
            return false;
        }

        var json = JSON.stringify({ "ForgetAccountNum": frtAccount, "ForgetEmail": frtemail });
        $.ajax({
            url: "/Account/ForgetPassWord",
            contentType: "application/json;charset=utf-8",
            data: json,
            type: 'Post',
            dataType: "Json",
            success: function (res) {
                if (res.isSuccess) {
                    alert(res.Msg);
                    document.location.href = "/Account/Login";

                } else {
                    alert("查詢失敗!!\n錯誤訊息 : \n" + res.Msg);
                }
            },
            complete: function () {
            }
        });
    }
    </script>
    

<body class="bodybackground">
    <div class="divposition">
        <table class="Table_Background" style="text-align:center" align="center">
            <tr >
                <td style="font-size:32px">帳號:</td>
                <td><input type="text" id="ForgetAccountNum"  /></td>
            </tr>
            <tr >
                <td style="font-size:32px">信箱:</td>
                <td><input type="text" id="ForgetEmail" /></td>
            </tr>
            <tr>
                <td><img src="../Content/grabege.png" height="95 px"></td>
                <td align="center" style="font-size:16px">輸入驗證碼: <br /><input type="text" id="keyforgettext" style="height:30px" /><br /><button id="Forgetbtn" class="Button_log" onclick="Forget()">送出</button></td>
            </tr>
        </table>
    </div>
</body>

